# Build outputs
bin/
obj/

# Visual Studio user files
*.suo
*.user
*.userosscache
*.sln.docstates

# Environment / Secrets
appsettings.Development.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
Desktop.ini
